<!-- Jquery -->
<script src="assets/js/jquery.min.js"></script>

<!-- bootstrap -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- Anime Js -->
<script src="assets/js/anime.min.js"></script>
<!-- Swiper Js -->
<script src="assets/js/swiper-bundle.min.js"></script>
<!-- Gsap -->
<script src="assets/js/gsap.min.js"></script>
<!-- ScrollTrigger -->
<script src="assets/js/ScrollTrigger.min.js"></script>
<!-- Counter Up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- Waypoints -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Countdown -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- Aos -->
<script src="assets/js/aos.js"></script>
<!-- Main Js File -->
<script src="assets/js/index.js"></script>
</body>
</html>