<footer class="footer-one-wrapper footer-wrapper">
    <div class="footer-one-content-wrp">
        <div class="container">
            <div class="row">
                <div class="col-12 coloum-one col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-one-about-widget-info">
                        <h5 class="footer-one-widget-title"> About Us </h5>
                        <div class="footer-one-widget-des"> An IT consultancy can help you assess your technology needs
                            and develop a technology strategy that aligns with your business </div>
                        <div class="footer-one-social-widget">
                            <ul>
                                <li>
                                    <a href="#" target="_blank" rel="nofollow">
                                        <i aria-hidden="true" class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" rel="nofollow">
                                        <i aria-hidden="true" class="fab fa-instagram"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" rel="nofollow">
                                        <i aria-hidden="true" class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" rel="nofollow">
                                        <i aria-hidden="true" class="fab fa-linkedin-in"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 coloum-tow col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-one-menu-widget">
                        <h5 class="footer-one-widget-title"> link</h5>
                        <div class="footer-one-link-menu">
                            <ul>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/about/" target="_blank" rel="nofollow">
                                        About Us </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/project/" target="_blank" rel="nofollow">
                                        Our Mission </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/contact/" target="_blank" rel="nofollow">
                                        Meet The Teams </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/project/" target="_blank" rel="nofollow">
                                        Our Projects </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/contact/" target="_blank" rel="nofollow">
                                        Contact Us </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 coloum-three col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-one-service-list-widget">
                        <h5 class="footer-one-widget-title">Explore</h5>
                        <div class="footer-one-service-list">
                            <ul>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/contact/" target="_blank" rel="nofollow">
                                        What we Offer </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/service/" target="_blank" rel="nofollow">
                                        Offer </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/about/" target="_blank" rel="nofollow">
                                        Our Story </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/blog/" target="_blank" rel="nofollow">
                                        Latest Posts </a>
                                </li>
                                <li>
                                    <a href="https://wptf.themepul.co/tronix/contact/" target="_blank" rel="nofollow">
                                        Help Center </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 coloum-four col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-one-recent-post-widget">
                        <h5 class="footer-one-widget-title">Recent Posts</h5>
                        <div class="footer-one-recent-post">
                            <ul>
                                <li>
                                    <div class="footer-one-post-thum-widget">
                                        <div class="foote-latest-post-imgage"> <img loading="lazy" decoding="async"
                                                width="773" height="500"
                                                src="https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/blog3.jpg"
                                                class="img-responsive wp-post-image" alt=""
                                                srcset="https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/blog3.jpg 773w, https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/blog3-300x194.jpg 300w, https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/blog3-768x497.jpg 768w"
                                                sizes="(max-width: 773px) 100vw, 773px"> </div>
                                        <div class="footer-post-date-title-wrp">
                                            <div class="footer-one-date"><i class="far fa-calendar-alt"></i> June 4,
                                                2023 </div>
                                            <div class="footer-one-latest-post-title"> <a
                                                    href="https://wptf.themepul.co/tronix/your-business-safe-ensure-high-availability/">
                                                    Your Business Safe… </a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-one-post-thum-widget">
                                        <div class="foote-latest-post-imgage"> <img loading="lazy" decoding="async"
                                                width="1220" height="644"
                                                src="https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/22-1.jpg"
                                                class="img-responsive wp-post-image" alt=""
                                                srcset="https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/22-1.jpg 1220w, https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/22-1-300x158.jpg 300w, https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/22-1-1024x541.jpg 1024w, https://wptf.themepul.co/tronix/wp-content/uploads/2023/06/22-1-768x405.jpg 768w"
                                                sizes="(max-width: 1220px) 100vw, 1220px"> </div>
                                        <div class="footer-post-date-title-wrp">
                                            <div class="footer-one-date"><i class="far fa-calendar-alt"></i> June 4,
                                                2023 </div>
                                            <div class="footer-one-latest-post-title"> <a
                                                    href="https://wptf.themepul.co/tronix/data-backup-and-recovery-best-practices-for-small/">
                                                    Data Backup and… </a> </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-one-icon-box-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="footer-one-icon-box">
                        <div class="footer-one-icon">
                            <i aria-hidden="true" class="ico ico-map-marker2"></i>
                        </div>
                        <div class="footer-one-icon-box-content">
                            <div class="footer-icon-box-title">Location </div>
                            <div class="footer-icon-box-des"> 258 Daniel Mansion 258
                                Berlin Germany </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="footer-one-icon-box">
                        <div class="footer-one-icon">
                            <i aria-hidden="true" class="bi bi-clock"></i>
                        </div>
                        <div class="footer-one-icon-box-content">
                            <div class="footer-icon-box-title">Working Hours </div>
                            <div class="footer-icon-box-des"> Weekdays 8am-22pm Weekend 10am -12pm </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="footer-one-icon-box">
                        <div class="footer-one-icon">
                            <i aria-hidden="true" class="ico ico-phone3"></i>
                        </div>
                        <div class="footer-one-icon-box-content">
                            <div class="footer-icon-box-title">Contact Us </div>
                            <div class="footer-icon-box-des"> tronixinfo@tronix.com (+259)2257 6156 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>